<!DOCTYPE html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/5.css">
    <link rel="stylesheet" href="../static/footer.css">
    <title>
        Music Alloc()
    </title>
</head>

<body style="background-color: black;height: 100vh;width:100vw;">
    <div class="topnav">
        <a class="inactive" href="Homepage.html">Home</a>
        <a class="inactive" href="ArtistsPage.html">Artists Page</a>
        <a class="inactive" href="ArtistsPage.html">Albums Page</a>
        <a class="active" href="ArtistsPage.html">Songs Page</a>
        <a class="inactive" href="playlist.html">Playlist</a>
        <a class="inactive" href="search.html">Search</a>
		<a class="inactive" href="spotlight.html">Spotlight</a>
        <a class="inactive" href="about.html">About</a>
        <a style="margin-left: 50%;margin-bottom: -5%;margin-top: -1.5%;" href="Homepage.html"><img
            style="height: 82px;" src="logomalloc-removebg-preview.png"></a>
    </div>
    <div style="background-image: linear-gradient(black,#333,#8B4000 );">
        <div class="song-container">
            <div class="img">
            </div>
            <div class="song-name">5</div>
            <p><font style="font-size: 20px;color: white;font-family: lato;margin-left: 6.5%;"><a href="a3.html" style="color: white;">Ed Sheeran</a> . 2015 . 8 Songs</font></p>
        </div>
        <br><br><br>
    </div>
    <div class="all-table" style="background-color: #1e1e1e;">
        <div class="song-table" style="margin-top: 0.09%;">
        <table>
            <tr>
                <td rowspan="2" style="color: white;text-align: left;">
                    <font style="font-size: 25px;font-family: lato;">1</font>
                </td>
                <td style="color:white;" class="in-song-table"><font style="margin-left: 1%;font-family: lato;">So</font></td>
            </tr>
            <tr style="color: white;">
                <td><font style="margin-left: 1%;font-family: lato;">4:28</font></td>
                <td><button class="add-song">Add to playlist</button>
            </tr>
        </table>
        <hr style="width:100%"/>
    </div>
    <div class="song-table">
        <table>
            <tr>
                <td rowspan="2" style="color: white;text-align: left;">
                    <font style="font-size: 25px;font-family: lato;">2</font>
                </td>
                <td style="color:white;" class="in-song-table" ><font style="margin-left: 1%;font-family: lato;">Be Like You</font></td>
            </tr>
            <tr style="color: white;">
                <td><font style="margin-left: 1%;font-family: lato;">3:38</font></td>
                <td style="text-align: right;"><button class="add-song">Add to playlist</button>
            </tr>
        </table>
        <hr style="width:100%"/>
    </div>
    <div class="song-table">
        <table>
            <tr>
                <td rowspan="2" style="color: white;text-align: left;">
                    <font style="font-size: 25px;font-family: lato;">3</font>
                </td>
                <td style="color:white;" class="in-song-table"><font style="margin-left: 1%;font-family: lato;">The City</font></td>
            </tr>
            <tr style="color: white;">
                <td><font style="margin-left: 1%;font-family: lato;">4:26</font></td>
                <td style="text-align: right;"><button class="add-song">Add to playlist</button>
            </tr>
        </table>
        <hr style="width:100%"/>
    </div>
    <div class="song-table">
        <table>
            <tr>
                <td rowspan="2" style="color: white;text-align: left;">
                    <font style="font-size: 25px;font-family: lato;">4</font>
                </td>
                <td style="color:white;" class="in-song-table"><font style="margin-left: 1%;font-family: lato;">Sun Burn</font></td>
            </tr>   

            <tr style="color: white;">
                <td><font style="margin-left: 1%;font-family: lato;">4:26</font></td>
                <td style="text-align: right;"><button class="add-song">Add to playlist</button>
            </tr>
        </table>
        <hr style="width:100%"/>
    </div>
    <div class="song-table">
        <table>
            <tr>
                <td rowspan="2" style="color: white;text-align: left;">
                    <font style="font-size: 25px;font-family: lato;">5</font>
                </td>
                <td style="color:white;" class="in-song-table"><font style="margin-left: 1%;font-family: lato;">Let It Out</font></td>
            </tr>
            <tr style="color: white;">
                <td><font style="margin-left: 1%;font-family: lato;">3:51</font></td>
                <td style="text-align: right;"><button class="add-song">Add to playlist</button>
            </tr>
        </table>
        <hr style="width:100%"/>
    </div>
    <div class="song-table">
        <table>
            <tr>
                <td rowspan="2" style="color: white;text-align: left;">
                    <font style="font-size: 25px;font-family: lato;">6</font>
                </td>
                <td style="color:white;" class="in-song-table"><font style="margin-left: 1%;font-family: lato;">Homeless</font></td>
            </tr>
            <tr style="color: white;">
                <td><font style="margin-left: 1%;font-family: lato;">3:30</font></td>
                <td style="text-align: right;"><button class="add-song">Add to playlist</button>
            </tr>
        </table>
        <hr style="width:100%"/>
    </div>
    <div class="song-table">
        <table>
            <tr>
                <td rowspan="2" style="color: white;text-align: left;">
                    <font style="font-size: 25px;font-family: lato;">7</font>
                </td>
                <td style="color:white;" class="in-song-table"><font style="margin-left: 1%;font-family: lato;">Little Bird</font></td>
            </tr>
            <tr style="color: white;">
                <td><font style="margin-left: 1%;font-family: lato;">3:46</font></td>
                <td style="text-align: right;"><button class="add-song">Add to playlist</button>
            </tr>
        </table>
        <hr style="width:100%"/>
    </div>
    <div class="song-table">
        <table>
            <tr>
                <td rowspan="2" style="color: white;text-align: left;">
                    <font style="font-size: 25px;font-family: lato;">8</font>
                </td>
                <td style="color:white;" class="in-song-table"><font style="margin-left: 1%;font-family: lato;">Sofa</font></td>
            </tr>
            <tr style="color: white;">
                <td><font style="margin-left: 1%;font-family: lato;">3:19</font></td>
                <td style="text-align: right;"><button class="add-song">Add to playlist</button>
            </tr>
        </table>
        <hr style="width:100%"/>
    </div>
    </div>
    <script src="../static/songJS.js"></script>
    <footer>
        <p>&copy; Music Alloc(). All rights reserved.</p>
        <a href="about.html">About</a>
    </footer>
</body>